<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">

    <div class="layout-topbar">
        <div class="layout-topbar-content">
            <a href="#" id="menu-btn" class="menu-btn">
                <i class="fa fa-bars"></i>
            </a>
            <img src="#{request.contextPath}/images/logo.png" class="topbar-logo"/>

        </div>
    </div>

</ui:composition>