<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" lang="en">

<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="stylesheet" href="#{request.contextPath}/style/css/layout.css" type="text/css" />
        <script src="#{request.contextPath}/script/layout.js"></script>
    </f:facet>
    <title>Gradle Tomcato JSF2 Template</title>
    <ui:insert name="head" />
</h:head>

<h:body>
    <div class="layout-wrapper">
        <ui:include src="/include/topbar.xhtml" />

        <div class="layout-content">
            <ui:insert name="content"></ui:insert>
        </div>
    <!--
        <ui:include src="./footer.xhtml" />
        -->
    </div>

</h:body>

</html>