<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
                template="./template/template.xhtml">

    <ui:define name="head">
    </ui:define>

    <ui:define name="content">

        <p:outputLabel value="Welcome the Gradle jsf2 template"/>

    </ui:define>

</ui:composition>